<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
      <title>SAP Young Rewired State 2012</title>
<--    <title>{{ page.title }} &raquo; Young Rewired State &laquo;</title> -->

  <meta name="description" content="">
  <meta name="author" content="Rewired State, Ltd.">
 <script type="text/javascript">
  var GoSquared={};
  GoSquared.acct = "GSN-083699-T";
  (function(w){
    function gs(){
      w._gstc_lt=+(new Date); var d=document;
      var g = d.createElement("script"); g.type = "text/javascript"; g.async = true; g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
      var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(g, s);
    }
    w.addEventListener?w.addEventListener("load",gs,false):w.attachEvent("onload",gs);
  })(window);
</script>

  <link rel="stylesheet" href="/css/site.css" />
  <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />

</head>

<body id="home">

<!-- automagically add the header -->
{% include header.html %}

<!-- automagically add content -->
    {{ content }}

<!-- automagically add footer -->
{% include footer.html %}

</body>
</html>
